CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_CSI_AP_SSID="CSI_AP_S3"
CONFIG_CSI_AP_PASSWORD="12345678"
CONFIG_CSI_AP_CHANNEL=6
CONFIG_CSI_AP_MAX_STA_CONN=1
CONFIG_CSI_STATS_INTERVAL_SEC=5
CONFIG_ESPTOOLPY_MONITOR_BAUD=921600
CONFIG_ESP_CONSOLE_UART_BAUDRATE=921600
