CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_CSI_AP_SSID="CSI_AP_S3"
CONFIG_CSI_AP_PASSWORD="12345678"
CONFIG_CSI_AP_CHANNEL=6
CONFIG_CSI_NODE_ID=1
CONFIG_CSI_MODE_ROUTER_COMPATIBLE_LLTF=y
CONFIG_CSI_FILTER_AP_BSSID=y
CONFIG_CSI_FILTER_STA_DST_MAC=y
CONFIG_CSI_FILTER_HT_FRAMES=y
CONFIG_CSI_ENABLE_SELF_PING=y
CONFIG_CSI_SELF_PING_RATE_HZ=50
CONFIG_CSI_SELF_PING_PAYLOAD_BYTES=32
CONFIG_CSI_SELF_PING_TIMEOUT_MS=100
CONFIG_CSI_STATS_INTERVAL_SEC=5
CONFIG_CSI_PRINT_RAW_IQ=y

CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n
# CONFIG_PM_ENABLE is not set
# CONFIG_ESP_WIFI_AMPDU_TX_ENABLED is not set
# CONFIG_ESP_WIFI_AMPDU_RX_ENABLED is not set
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=128

# ESP_CONSOLE_UART_BAUDRATE is user-settable only in custom UART console mode.
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_0=y
CONFIG_ESP_CONSOLE_UART_TX_GPIO=43
CONFIG_ESP_CONSOLE_UART_RX_GPIO=44
CONFIG_ESP_CONSOLE_UART_BAUDRATE=460800
CONFIG_ESPTOOLPY_MONITOR_BAUD=460800
